* {
  font-family: 'Open Sans', sans-serif;
}

.App {
  background-image: url("../img/topography.png");
}

body {
  margin: 0;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.my-header {
  text-align: center;
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 1px black;
  animation: shake infinite 5s linear;
  transition: 3s ease;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(10px, 0, 0);
  }
}

.quake-list {
  padding-top: 30px;
  width: 95%;
  margin: 0 auto;
}

.card {
  padding: 10px;
  margin: 10px;
}

.title {
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 2em;
  text-align: center;
  height: 100vh;
  width: 100%;
  background-image: url('http://news.nationalgeographic.com/content/dam/news/2016/08/24/italy_earthquake/01-italy-earthquake.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 4px 4px -2px gray;
}